img{
	width: 30%;/*Define an universal width for all images*/
	float: left;/*to make image overleap to next image to left*/
	margin: 1.66%;/*to make every image in same gap and orientation*/
}
h1{
	font-family:'Raleway', sans-serif;/*pulling the google font request*/
	font-weight: 800;
	margin-left: 1.66%;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;	
	width: 30%;
	padding-bottom: 20px;

}